
        <div class="blog-post">
            <h2 class="blog-post-title"><%= blog.title %></h2>
            <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago/ <%= link_to 'View', blog %></p>

            <% if logged_in?(:site_admin) %>
            <p class="blog-post-meta">
              <%= link_to blog.status, toggle_status_blog_path(blog)  %>/
              
              <%= link_to fa_icon("pencil-square-o"), edit_blog_path(blog)  %>
              <%= link_to fa_icon("trash"), blog, method: :delete, data: { confirm: 'Are you sure about that?'}  %>
            </p>

            <% end %>
              
              <p>
                <%= markdown blog.body %>
              </p>
            
     
          </div>
        
   