<div class="card" data-id="<%= port.id%>">
   <%= image_tag portfolio_img(port.thumb_image, 'thumb') %>
   <p class="card-text">
     <span><%= link_to port.title, portfolio_show_path(port) %></span> <%= port.subtitle %>
     <%= link_to 'Delete', port, method: :delete, data: { confirm: 'You positive you want to delete this?' } if logged_in?(:site_admin)  %>
   </p>
 </div> 