<h1>Angular Portfolio Items</h1>


<hr>
<%= link_to "Create new Item!!", new_portfolio_path if logged_in?(:site_admin)%>
<hr>
<% @angular_portfolio.each do |x| %>

  <h3> <%=link_to x.title, portfolio_show_path(x) %> </h3>
  <p> <%=x.subtitle %> </p>
  <p> <%=x.body %> </p>
  <p> <%=image_tag x.thumb_image unless x.thumb_image.nil? %> </p>
  <%= link_to "Edit", edit_portfolio_path(x) if logged_in?(:site_admin) %>
  <%= link_to 'Delete', portfolio_path(x), method: :delete, data: { confirm: 'You positive you want to delete this?' } if logged_in?(:site_admin) %>
  <hr width="75%" align="left" color="blue">


<% end %>