<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@ports.main_image, 'main') %>
    </div>
    <div class="col-md-5">
      <h1><%= @ports.title %></h1>
      <hr>
      <em><%= @ports.subtitle %></em>
      <p><%= @ports.body %></p> 
      <h2>Technologies used</h2>
    <% @ports.technologies.each do |b| %>
      <p><%= b.name %></p>
    <% end %>
    
    </div>
  </div>



</div>








 
