<h1>Heres a Portfolio Item!!</h1>
<%= image_tag @ports.main_image %>
<h1><%= @ports.title %></h1>
<em><%= @ports.subtitle %></em>
<p><%= @ports.body %></p> 
<h2>Technologies used</h2>
<% @ports.technologies.each do |b| %>
  <p><%= b.name %></p>
<% end %>

<hr>



 
<%= link_to "Back", portfolios_path %>