<div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">JJ Keeney</h3>
              <nav class="nav nav-masthead">
                
            <%= link_to "Home", root_path, method: :get, class: 'nav-link active' %>
            <%= link_to "About", about_me_path, method: :get, class: 'nav-link' %>
            <%= link_to "Contact", contact_path, method: :get, class: 'nav-link' %>
            <%= link_to "Portfolios", portfolios_path, method: :get, class: 'nav-link' %>
            <%= link_to "Blogs", blogs_path, method: :get, class: 'nav-link' %>

              </nav>
            </div>
          </div>