<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4 ">
        <h4 class="text-info">About</h4>
        <p class="text-muted">Im an up and coming young ruby on rails web developer. I wouldn't say I know a whole lot but I will certainly try.</p>
        <div class="social-links">
          <a href="https://github.com/geomaster58" target="_blank"><%= fa_icon "github" %></a>
          <a href="https://www.linkedin.com/in/jj-keeney-5055bb113/" target="_blank">  <%= fa_icon "linkedin" %> </a>
          <a href="https://rubygems.org/profiles/GeoMaster58" target="_blank"><%= fa_icon "diamond" %> </a>
        </div>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
         <%= nav_helper 'text-info','li' %>
         <li><%= login_helper 'text-info' %></li>
         <li><%= link_to "Admin", admin_root_path if logged_in?(:site_admin) %></li>
       </ul>
     </div>
   </div>
 </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
<div class="container ">
  <div  class="col-sm-4 name">
    <a href="/">
    <svg height="100" width="500" id="logo-id">
      <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:rgb(107, 255, 230);stop-opacity:1" />
          <stop offset="100%" style="stop-color:black;stop-opacity:1" />
        </linearGradient>
        <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:white;stop-opacity:1" />
          <stop offset="100%" style="stop-color:rgb(107, 255, 230);stop-opacity:1" />
        </linearGradient>
      </defs>
      <ellipse cx="50" cy="50" rx="300" ry="30" fill="url(#grad1)"  />
      <text fill="url(#grad2)" font-size="55" font-family='Yellowtail' x="50" y="62">JJ Keeney</text>
      Sorry, your browser does not support inline SVG.
    </svg>
    </a>
    </div>
    <div class="col-sm-4 cool-button">
    <button class="btn btn-primary custom-toggler " type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="fa fa-bars button"></span>

    </button>
    </div>
  </div>
</div>


     
      
     
   


    