<div class="collapse bg-inverse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-info">About</h4>
            <p class="text-muted">Im an up and coming young ruby on rails web developer. I wouldn't say I know a whole lot but I will certainly try.</p>
            <div class="social-links">
            <a href="https://github.com/geomaster58" target="_blank"><%= fa_icon "github" %></a>
            <a href="https://www.facebook.com/jj.keeney" target="_blank"><%= fa_icon "facebook" %></a>
            <a href="https://rubygems.org/profiles/GeoMaster58" target="_blank"><%= fa_icon "diamond" %></a>
            </div>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Explore</h4>
            <ul class="list-unstyled">
               <%= nav_helper 'text-info','li' %>
               <li><%= login_helper 'text-info' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
      <div class="btn btn-primary custom-toggler-btn">
        <%= link_to "JJ Keeney", about_me_path, class: "navbar-brand" %>
        </div>
        <button class="btn btn-primary custom-toggler " type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"> 
          <span class="fa fa-bars button"></span>

        </button>
      </div>
    </div>


     
      
     
   


    