<h1> √ Welcome to The HomePage!! ∑</h1>
 <% if current_user %>
<h2> ∫ Hello <%= current_user.first_name if current_user %> ∫</h2> 
<%= link_to "Portfolio", portfolios_path, method: :get %>
<%= link_to "Blogs", blogs_path, method: :get %>

 <% end %>
<hr>

<h1>Blogs</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>